[Desktop Entry]
Type=Application
Name=SRAR
GenericName=Audio Mod Manager
Comment=Honkai Star Rail Audio Replacer - Replace any sound in HSR with your own audio
Exec=srar
Icon=io.github.pucas01.SRAR
Terminal=false
Categories=AudioVideo;Audio;Game;Utility;
Keywords=honkai;star;rail;audio;mod;wem;wwise;pck;soundbank;
StartupWMClass=SRAR
MimeType=application/x-srar;
